/*
 * @Author: Ice-Hazymoon 
 * @Date: 2018-06-04 15:41:56 
 * @Last Modified by: Ice-Hazymoon
 * @Last Modified time: 2018-06-05 09:57:38
 */
$theme-color: #8c72a7;

html{
    font-size: 16px;
    height: 100%;
}

body{
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    transition: all .3s ease;
    font-family: Helvetica, "Helvetica Neue", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",  "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-family: 'Noto Sans', sans-serif;
    user-select:none;
    -webkit-tap-highlight-color: transparent;
}

.mask{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/bg.png');
    width: 100%;
    height: 100%;
    opacity: .4;
}

#app{
    $height: 530px;
    $width: 400px;
    position: absolute;
    max-width: $width;
    width: 100%;
    height: $height;
    margin: 0 auto;
    top: calc((50% - #{$height / 2}));
    left: 0;
    right: 0;
}

@keyframes zzz{
    from {
        z-index: 0;
    }
    to {
        z-index: 2;
    }
}

#left-page{
    box-sizing: border-box;
    z-index: 0;
    position: absolute;
    left: -20px;
    top: 2%;
    height: 95%;
    width: 120px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -30px 15px 60px -25px rgba($color: #110033, $alpha: .4);
    transition: all .3s ease;
}

#o-left:checked + #left-page{
    height: 100%;
    top: 0;
    left: -120px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #eee;
    animation: zzz .1s linear .15s normal forwards;
    box-shadow: none;
    & + #o-right + #right-page + .main{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .o-left{
            fill: #8c72a7;
        }
        & + .bs_l{
            height: 100%;
            top: 0;
            box-shadow: none;
        }
    }
}

#right-page{
    box-sizing: border-box;
    z-index: 0;
    position: absolute;
    right: -20px;
    top: 2%;
    height: 95%;
    width: 120px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 30px 15px 60px -25px rgba($color: #110033, $alpha: .4);
    transition: all .3s ease;
}

#o-right:checked + #right-page{
    height: 100%;
    top: 0;
    right: -120px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #eee;
    animation: zzz .1s linear .15s normal forwards;
    box-shadow: none;
    & + .main{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .o-right{
            fill: #8c72a7;
        }
        & + .bs_l + .bs_r{
            height: 100%;
            top: 0;
            box-shadow: none;
        }
    }
}

.main{
    z-index: 1;
    position: relative;
    height: 100%;
    color: #4f5155;
    border-radius: 8px;
    background-color: #fff;
    transition: all .3s ease;
    max-width: 400px;
    margin: 0 auto;
    height: 530px;
    margin-bottom: 50px;
    .avatar{
        z-index: 2;
        margin: 0 auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: relative;
        top: -40px;
        overflow: hidden;
        padding: 3px;
        box-shadow: 0px 1px 8px 0px rgba($color: #000000, $alpha: .3);
        text-align: center;
        box-sizing: border-box;
        background: #fff;
        cursor: pointer;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            filter: grayscale(40%);
            transition: all .3s ease;
            &:hover{
                filter: grayscale(0);
                transform: scale(1.2);
            }
        }
    }
    .hitokoto{
        text-align: center;
        font-size: 12px;
        color: #8a8a8a;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        transform: scale(.9);
        line-height: 1.4;
        font-style: italic;
        svg{
            vertical-align: middle;
            cursor: pointer;
            fill: #8a8a8a;
            margin-left: 3px;
            width: 15px;
            height: 15px;
            transition: all .5s ease;
            &:hover{
                fill: #5e5e5e;
            }
            &.re{
                transform: rotate(-720deg) !important;
            }
        }
    }
    .contact-p{
        position: absolute;
        bottom: -23px;
        width: 100%;
        .contact{
            $width: 46px;
            margin: 0 auto;
            box-sizing: border-box;
            width: $width;
            height: $width;
            fill: rgba($color: #fff, $alpha: .9);
            padding: 13px;
            background-image: linear-gradient(135deg, #667eea 0%, #a88fc3 100%);
            border-radius: 50%;
            box-shadow: 0px 13px 30px 13px rgba(61, 41, 90, 0.24);
            cursor: pointer;
            transition: all .3s ease;
            // &:hover{
            //     svg{
            //         transform: rotate(45deg);
            //     }
            //     box-shadow: none;
            // }
            // &:active{
            //     transform: scale(.9)
            // }
            svg{
                transition: all .4s ease;
            }
        }
    }
    .info{
        text-align: center;
        margin-top: -15px;
        .name{
            font-size: 20px;
            font-weight: 300;
        }
        .address{
            color: hsl(0, 0%, 54%);
            margin-top: 5px;
            font-size: 14px;
        }
        .tag{
            margin-top: 5px;
            svg{
                width: 15px;
                height: 15px;
                vertical-align: middle;
                fill: #4f5155;
            }
            ul{
                margin: 0;
                padding: 0;
                display: inline-block;
                li{
                    list-style: none;
                    padding: 0;
                    display: inline-block;
                    font-size: 12px;
                    transition: .3s ease all;
                    cursor: pointer;
                    margin-right: 3px;
                    color: #4f5155;
                    &::before{
                        content: '#'
                    }
                    &:hover{
                        color: rgb(141, 103, 230);
                    }
                }
            }
        }
        .timeline{
            position: relative;
            .line{
                position: absolute;
                width: 5px;
                height: calc(100% + 20px);
                background-color: rgb(236, 236, 236);
                top: 5px;
                left: 132px;
            }
            ul{
                margin: 0;
                padding: 0;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 190px;
                text-align: left;
                li{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    .title{
                        display: inline-block;
                        position: relative;
                        margin-right: 30px;
                        margin-left: 50px;
                        white-space:nowrap;
                        width: 100px;
                        font-size: 14px;
                        &::after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            left: 77px;
                            top: 3px;
                            vertical-align: middle;
                            width: 15px;
                            height: 15px;
                            border: 4px solid $theme-color;
                            background-color:#fff;
                            border-radius:50%;
                            z-index: 99;
                            box-sizing: border-box;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                    .content{
                        position: relative;
                        box-sizing: border-box;
                        padding-right: 20px;
                        margin-left: 15px;
                        font-size: 12px;
                        width: calc(100% - 120px);
                        display: inline-block;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
    .operat{
        position: absolute;
        width: 100%;
        top: 15px;
        svg{
            cursor: pointer;
            fill: #d4d4d4;
            width: 25px;
            height: 25px;
            position: relative;
            transition: all .3s ease;
            &:hover{
                fill: #b8b8b8;
            }
        }
        .o-left{
            float: left;
            left: 10px;
        }
        .o-right{
            float: right;
            right: 10px;
        }
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
}

.bs_l{
    width: 50%;
    height: 95%;
    position: absolute;
    left: 0;
    top: 2%;
    box-shadow: 0 15px 60px 5px rgba(17, 0, 51, 0.4);
    pointer-events: none;
    transition: all .3s ease;
}
.bs_r{
    width: 50%;
    height: 95%;
    position: absolute;
    right: 0;
    top: 2%;
    box-shadow: 0 15px 60px 5px rgba(17, 0, 51, 0.4);
    pointer-events: none;
    transition: all .3s ease;
}

.m{
    display: none;
    .cs{
        border-radius: 8px;
        width: 100%;
        padding: 20px 25px;
        box-sizing: border-box;
        background-color: #fff;
        margin-top: 30px;
        .title{
            text-align: center;
            color: #4f5155;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    
    .cs.contact{
        ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            display: flex;
            justify-content: space-between;
            li{
                border-radius: 50%;
                padding: 13px;
                background-color: #7d92ee;
                box-sizing: border-box;
                transition: .3s ease all;
                cursor: pointer;
                a{
                    width: 25px;
                    height: 25px;
                    display: block;
                }
                svg{
                    fill: #ffffff;
                    vertical-align: middle;
                }
                &:active{
                    transform: scale(.9);
                }
            }
        }
    }
    
    .cs.site{
        ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            display: flex;
            justify-content: space-between;
            li{
                border-radius: 50%;
                padding: 13px;
                // background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
                background-color: #7d92ee;
                box-sizing: border-box;
                transition: .3s ease all;
                cursor: pointer;
                a{
                    width: 25px;
                    height: 25px;
                    display: block;
                }
                svg{
                    fill: #ffffff;
                    vertical-align: middle;
                }
                &:active{
                    transform: scale(.9);
                }
            }
        }
    }
    
    .cs.skill{
        margin-bottom: 30px;
        ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            li{
                margin: 15px 0;
                .icon{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                    svg{
                        width: 25px;
                        height: 25px;
                        fill: #6c6f73;
                    }
                }
                progress{
                    width: calc(100% - 65px);
                }
            }
        }
    }
}

.show-c{
    svg{
        transform: rotate(45deg);
    }
    box-shadow: none !important;
    transform: scale(.9);
}

@media (max-width:450px){
    html,body{
        min-height: 100%;
        height: auto;
    }
    .mask,.bs_l,.bs_r{
        display: none;
    }
    #app{
        position: relative;
        margin-top: 80px;
        padding: 0 7px;
        box-sizing: border-box;
        height: auto;
        width: auto;
        max-width: none;
        #left-page,#right-page{
            display: none;
        }
        .o-left,.o-right{
            display: none;
        }
    }
}

@media (max-width:380px){
    html{
        font-size: 14px;
    }
}